{% load static %}

  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Bootstrap demo</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    </head>
    <body>
      <form  method="POST" class="container" action="{% url 'update_appointment' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label  class="form-label">App id</label>
          <input type="number" class="form-control" name="app_id" >
        </div>
        <div class="mb-3">
          <label  class="form-label">User Name</label>
          <input type="text" class="form-control" name="username" >
        </div>
        <div class="mb-3">
          <label  class="form-label">Token</label>
          <input type="text" class="form-control" name="token" >
        </div>

          <div class="mb-3">
            <label  class="form-label">day</label>
            <input type="date" class="form-control" name="day"  >
          </div>
          <div class="mb-3">
            <label  class="form-label">Hour</label>
            <input type="number" class="form-control" name="hour" >
          </div>
          <div class="mb-3">
            <label  class="form-label"> Name</label>
            <input type="text" class="form-control" name="name" >
          </div>
          <div class="mb-3">
            <label  class="form-label">Phone number</label>
            <input type="number" class="form-control" name="phonenumber" >
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
  </html>
        